.upload-body {
    width: 50%;
    margin-left: 1rem;
    /* background-color: greenyellow; */
}

.upload-card {
    display: flex;
    place-items: center;
    flex-direction: column;
    width: 100%;
    padding: 40px 0px;
    margin: 20px 5px;
    color: dodgerblue;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, .2);
    cursor: pointer;
}

.upload-icon {
    width: 60px;
    height: 55px;
}


#parse-btn {
    width: 100%;
    padding: 13px 22px;
    margin: 10px 5px;
    border: 0px;
    border-radius: 17px;
    background-color: dodgerblue;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: medium;
    cursor: pointer;
}


.aadhaar-input {
    display: none;
}

.image-preview {
    display: flex;
    place-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: rgb(49, 49, 49);
    margin:10px 5px;
    color: dodgerblue;
    border-radius: 10px;
}

.aadhaar-preview-image {
    max-width: 100%;
    min-width: 50%;
    max-height: 15rem;
    min-height: 10rem;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, .2);
}

.change-image-div {
    width: fit-content;
    margin: auto;
    padding: 4px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: rgb(206, 206, 206);
    cursor: pointer;  
}

.image-icon {
    width: 25px;
    height: 20px;
}

.change-image-btn{
    background-color: transparent;
    text-transform: capitalize;
    font-weight: 700;
    border: 0px;
    cursor: pointer;  
}

.remove-image-btn{
    position: absolute;
    margin: 8px 8px;
    top: 0%;
    right: 0%;
    padding: 5px;
    border: 0;
    border-radius: 100%;
    background-color: rgb(255, 50, 50);
    color: white;
    font-weight: bolder;
    cursor: pointer;
}